/* コラム */
@use '../../global/'as g;

.p-information {
  background-image: url('assets/image/bg-information.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  padding: 100px 30px;

  @include g.mq() {
    padding: 120px 30px;
  }
  @media (min-width: 900px) {
    height: 650px;
  }

  h2 {
    font-size: 14px;
    text-align: center;
    margin-bottom: 80px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 420px;
    margin: 0 auto;

    @media (min-width: 900px) {
      justify-content: space-between;
      max-width: 1200px;
    }
  }

  &__box {
    max-width: 420px;
    width: 100%;

    img {
      max-width: 419px;
      margin-top: 50px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 32px;

    &.medium {
      font-size: 22px;
    }

    &.small {
      font-size: 12px;
    }
  }

  &__contact {
    border: 1px solid #fff;
    padding: 20px;
    margin: 50px 0;
  }
}
